<main class="mt-5 p-5 container d-flex justify-content-center align-items-center">
  <form action="/login" method="post" style="max-width: 400px; background-color: #333; padding: 20px; border-radius: 10px;">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" style="color: #fff;">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text" style="color: #ddd;">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label" style="color: #fff;">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1" style="color: #fff;">Check me out</label>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <button type="submit" class="btn btn-primary" style="background-color: #007bff;">Submit</button>
      <a class="btn btn-link" href="/register" style="color: #fff;">signup here</a>
    </div>
  </form>
</main>
